.header {
    background: var(--gray-700);
    display: flex;
    justify-content: center;
    padding: 4.5rem 0;
    transition: 0.2s;
}

.header > img {
    height: 3rem;
}

.header:hover {
    background: var(--gray-500);
}