.adicionarTask {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: -0.5rem;
  gap: 0.5rem;

  position: absolute;
  width: 46rem;
  height: 3.375rem;
  left: calc(50% - 46rem / 2);
  top: 10.8125rem;
}

.inputTask {
  background: var(--gray-500);
  border: 1px solid var(--gray-700);
  border-radius: 0.5rem;

  box-sizing: border-box;
  padding: 1rem;

  width: 39.875rem;
  height: 3.375rem;

  color: var(--gray-100);
}

.adicionarTask > button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  gap: 0.5rem;
  border: 0;
  width: 5.3rem;
  height: 3.25rem;

  background: var(--blue-dark);
  border-radius: 0.5rem;
  color: var(--gray-100);
  font-size: 0.875rem;
  cursor: pointer;
  font-weight: bold;
}

.resumoTask {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 1.5rem;

  position: absolute;
  width: 46rem;
  height: 17.9375rem;
  left: calc(50% - 46rem / 2);
  top: 18.1875rem;
}

.statusTask {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;

  width: 46rem;
  height: 1.1875rem;
}

.criadas,
.concluidas {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.criadas p {
  color: var(--blue);
  font-size: 0.875rem;
}

.concluidas p {
  color: var(--purple-dark);
  font-size: 0.875rem;
}
